{% extends 'nwp/form_manage_manual.html' %}
{# Controllers List #}

{% block title %}{{ g.page  }}{% endblock %}

{% block style %} 
{{- super() -}}
{# insert below css for the page -#}

{% endblock %}

{% block script %} 
{{- super() -}}
{# insert below js for the page -#}

<script>


var c_id = 0;
var line_counter = 0;

$(document).ready(function() {

    var d = new Date();
    let date_str = d.getDate() + "-" + (d.getMonth()+1) + "-" + d.getFullYear();




});





</script>
{% endblock %}

<!---
  content blocks below
--->

{% block form %}
<!--  <form  action = "" method = "post" novalidate="">  -->
    {{ form.hidden_tag() }}
    <div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
        <div class="row">
        </div>
    </div>

    <div class = "row">
        <div class="col-sm-3 form-group">
          {{ form.submit_button }}
        </div>
    </div>
{% endblock %}


{% block title1 %}
{% endblock %}

{% block table1 %}
{% endblock %}
