{% extends 'nwp/layout.html' %}

{% block title %}{{ g.page  }}{% endblock %}

{% block style %} 
{{- super() -}}
{# insert below css for the page -#}
<style>
table, th, td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
  }
th, td {
  padding-left : 15px;
  padding-right : 15px;
}
th {
  background-color : #A1BAF3;
  color : yellow;
  
}
.nwpsector {
  padding-bottom : 15px;
}
.nwpdetail {
  padding-bottom : 25px;
}
</style>

{% endblock %}

{% block script %} 
{{- super() -}}
{# insert below js for the page -#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
<script>
$(document).ready(function() {

  loc='';
  $.getJSON("{{ g.json_url }}", function(result) {

      $.each(result, function(i,field){
        loc = field.Location;

        var trow = "<tr><td>" + field.Controller +"</td>";
        var d = field.Day; 
  //      trow += "<td>" + d.getDate + "/"+ d.getMonth + "/" + d.getFullYear  +"</td>";
        if (!(d == null)) {d = (d.slice(5)).slice(0,11)};
        trow += "<td>" + d  +"</td>";
        trow += "<td>" + field.Time  +"</td>";
        trow += "<td>" + field.DOmg  +"</td>";
        trow += "<td>" + field.DOPS  +"</td>";
        trow += "<td>" + field.Salinity  +"</td>";
        trow += "<td>" + field.Conductivity  +"</td>";
        trow += "<td>" + field.Temp  +"</td>";
        trow += "<td>" + field.WaterLevel  +"</td></tr";

        $('#tlocdetail').append(trow);
      })
  })

  $.getJSON("{{ url_for('api.paramstatus',path=g.location) }}", function(result) {
//there is only one dict in the result
    console.log(result);
    $.each(result, function(i,field){
      var $tlstat = $('#tlstat');
      var $tastat = $('#tastat');
      var $tloc = $('#tloc');
      $tlstat.text("Tank is " + field.LocStat);
      $tastat.text("Automation is " + field.CtrlStat);
      $tloc.text("Tank "+"{{ g.location }}")
      var trow = "<tr><td> DO </td>";
      trow += "<td>" + field.DOMG["reading"] + " / " + field.DOPS["reading"] +"</td><td>" + field.DOPS["date"] + "</td></tr>";
      trow += "<tr><td> Salinity </td><td>" + field.ECS["reading"] + " / " + field.ECEC["reading"] + "</td><td>" + field.ECEC["date"] + "</td></tr>";
      trow += "<tr><td> Temperature </td><td>" + field.Temp["reading"] + "</td><td>" + field.Temp["date"] + "</td></tr>";
      trow += "<tr><td> Water Level </td><td>" + field.WL["reading"] + "</td><td>" + field.WL["date"] + "</td></tr>";
      $('#tcurrent').append(trow);
    })
  })

  $.getJSON("{{ url_for('api.locsummbytype',path=g.location) }}", function(result) {
//there is only one dict in the result
    $.each(result, function(i,field){
        var trow = "<tr><td>" + field.SensorType + "-" + field.SensorOption  + "</td>";
        trow += "<td>" + field.Readings  +"</td>";
        trow += "<td>" + field.Avgr +"</td>";
        trow += "<td>" + field.Maxr  +"</td>";
        trow += "<td>" + field.Minr  +"</td></tr>";
        $('#tlocsumm').append(trow);
    })
  })


})  

</script>
{% endblock %}

{% block containers %} {# insert here the content of the page #}
<!--<div class="line"></div>  -->
<div class="container">
  <div>
    <div id='tlcurrent' class = 'loader row'>
      <div class "col-sm-5">
        <h1 id='tloc' style = ''>Location</h1> 
        <table id='tcurrent' style = 'width:100%;'> 
          <tr>
            <td colspan="2" style="font-style:italic; font-size:25px; font-weight:bold">Latest Readings</td>
          </tr>
        </table>
      </div>
      <div class = "col-sm-3">  </div>
      <div class = "col-sm-4" style="float:right">
        <h2 id='tlstat'  style='background-color:#A1BAF3; width:100%'>Tank is ????</h2>
        <h2 id = 'tastat' style='background-color:#DDF3A1; width:100%; '>Automation is ?? </h2>
      </div>

    </div>
  </div>

  <div class="line"></div>
  <div id="lsumm" class="loader  nwpdetail">
    <table id='tlocsumm' style = 'background-color:#E9F9C1; width:70%'> 
      <tr >
        <th> Type </th>
        <th> Readings </th>
        <th> Average </th>
        <th> Max </th>
        <th> Min </th>
      </tr>
<!--       <tr style="background-color:#FAFAE1;">
        <td>(type)</td>
        <td>(200)</td>
        <td>(23)</td>
        <td>(100)</td>
        <td>(1999)</td>
        <td>(dd/mm/yy hh:mm)</td>
        <td>(33)</td>
      </tr>
 -->

    </table>
  </div>


  <div id="output" class="loader nwpsector" >
    <table id='tlocdetail' style = 'width:100%'> 
      <tr>
        <th> Controller </th>
        <th> date </th>
        <th> time </th>
        <th> DO(mg) </th>
        <th> DO(%) </th>
        <th> Salinity </th>
        <th> Cond. </th>
        <th> Temp </th>
        <th> Level </th>
      </tr>
    </table>
  </div>
</div>


{% endblock %}
