@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700";
.content {
  padding: 0 1rem 1rem;
}
.content > header {
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 1px solid lightgray;
  display: -ms-flexbox;
  display: flex;
}
.content > header h1 {
  -ms-flex: auto;
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}
.lginput > text {
  width:100%;
}
.flash {
  background: #cae6f6;
  border: 1px solid #377ba8;
  margin: 1em 0;
  padding: 1em;
}
.post > header {
  -ms-flex-align: end;
  align-items: flex-end;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.85em;
}
.post > header > div:first-of-type {
  -ms-flex: auto;
  flex: auto;
}
.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}
.content:last-child {
  margin-bottom: 0;
}
.content form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1em 0;
}
.content input,
.content textarea {
  margin-bottom: 1em;
  width: 100%;
}
.content textarea {
  min-height: 12em;
  resize: vertical;
}
input[type="submit"] {
  -ms-flex-item-align: start;
  align-self: start;
  color: #fff;
  cursor: pointer;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #86d4a6,
    #297a73,
    #60caf4,
    #274ea6
  );
  border: 2px solid #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(45, 196, 190, 0.55);
  font-size: 16px;
  font-weight: 600;
  height: 30px;
  margin: 20px;
  text-shadow: 0.06em 0.06em #2a419b;
  moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 150px;
}
input[type="submit"]:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
input[type="submit"]:active {
  background-position: 100% 0;
  box-shadow: 0 0 0 0 rgba(45, 196, 190, 0.75);
  text-shadow: 0 0 #2a419b;
  moz-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
