/*
    DASHBOARD STYLE
*/

@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,600,700";
body {
  background: #fafafa;
  font-family: "Ubuntu", sans-serif;
}

p {
  color: #999;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  -ms-flex-align: center;
  align-items: center;
  background: linear-gradient(
      140deg,
      #3eb99b,
      #37ab83 40%,
      #297a73 70%,
      #0000 70%
    ),
    linear-gradient(to right, #226456, #3ab983 50%, #86d4a6) 100% 0,
    linear-gradient(40deg, #51aee5 20%, #60caf4 30%, #274ea6 70%, #0000 70%) 0
      100%,
    linear-gradient(140deg, #293f99 13%, #55c4f2 71%, #51aee5 90%) 100% 100%;
  background-repeat: no-repeat;
  background-size: 100% 50%, 40% 50%, 100% 50%, 40% 50%;
  border: 5px solid #fff;
  border-radius: 20px;
  box-shadow: 0 4px 15px 0 rgba(54, 54, 65, 0.4);
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  margin-right: 8px;
  margin-top: 4px;
  padding: 15px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 4px;
  z-index: 1;
}

.btn {
  border: none;
  border-radius: 8px;
  box-shadow: none;
  outline: none !important;
}

.page-name {
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
  margin: 0 auto;
  text-shadow: 0.06em 0.06em #2a419b;
}

.line {
  border-bottom: 1px dashed #ddd;
  height: 1px;
  margin: 40px 0;
  width: 100%;
}

i,
span {
  display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -ms-flexbox;
  display: flex;
  justify-content:flex-start;
}

#sidebar {
  background: linear-gradient(#2aa77c, #274ea6);
  box-shadow: 3px 0 3px 0 rgba(54, 54, 65, 0.4);
  color: #fff;
  max-width: 250px;
  min-width: 250px;
  transition: all 0.3s;
}

#sidebar.active {
  max-width: 80px;
  min-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  font-size: 0.85em;
  padding: 20px 10px;
  text-align: center;
}

#sidebar.active ul li a i {
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
  margin-right: 0;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
  bottom: 10px;
  right: 50%;
  top: auto;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  /*background: #297a73;*/
  background: white;
  box-shadow: 0 6px 6px 0 rgba(54, 54, 65, 0.4);
  padding: 20px;
  text-shadow: 0.06em 0.06em #2a419b;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  border-bottom: 1px solid #47748b;
  padding: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
}

#sidebar ul li a {
  display: block;
  font-size: 1.1em;
  padding: 10px;
}

#sidebar ul li a:hover {
  background: #fff;
  color: #274ea6;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background: #297a73;
  color: #fff;
}

#sidebar ul li.active > a {
  border-right: 4px solid #86d4a6; /* Light Green */
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

ul ul a {
  background: #3eb99b;
  font-size: 0.9em !important;
  padding-left: 30px !important;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  border-radius: 5px;
  display: block;
  font-size: 0.9em !important;
  margin-bottom: 5px;
  text-align: center;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  min-height: 100vh;
  padding-left: 10px;
  transition: all 0.3s;
  width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  #sidebar {
    margin-left: -80px !important;
    max-width: 80px;
    min-width: 80px;
    text-align: center;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
  #sidebar .sidebar-header h3,
  #sidebar .CTAs {
    display: none;
  }
  #sidebar .sidebar-header strong {
    display: block;
  }
  #sidebar ul li a {
    padding: 20px 10px;
  }
  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  #sidebar ul ul a {
    padding: 10px !important;
  }
  #sidebar ul li a i {
    font-size: 1.3em;
  }
  #sidebar {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
}

.loader:empty {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 10px solid #55c4f2; /* Light Blue */
  border-top: 10px solid #274ea6; /* Blue */
  border-radius: 50%;
  height: 120px;
  left: 30%;
  margin: auto;
  position: absolute;
  top: 30%;
  width: 120px;
}

.col {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px rgba(54, 54, 65, 0.1);
  margin-bottom: 10px;
  margin-right: 8px;
  min-height: 321px;
  min-width: 325px;
  padding: 4px 4px;
}

.col div:first-child {
  font-weight: bold;
  text-align: center;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.pvtUi {
  font-size: .6em;
}

.pvtUiCell select option {
  font-size: .8em;
}

.cardStatus {
  box-shadow: 0 14px 18px 0 rgba(0, 0, 0, 0.2);
  padding: 6px;
  text-align: center;
  border-radius: 10px;
  background-color: #A2A3A4;
  color: white;
  height: 200px;
  width:300px;
}

.cardStatus h4 {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
  font-weight: 350;
  line-height: 1.2em;
}

.cardLoc {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.8em;
  font-weight: 500;
  line-height: 1.0em;
  padding: 15px;
  text-decoration: underline;
}


.colcard {
  padding: 10px 12px;
}
.cardOxygen {
  color: red;
}

.cardTemp {
  color: green;
}

.cardWater {
  color: blue;
}

.cardSalinity {
  color: yellow;
}

.cardOffline {
  color: #060606;
}
